.el-input__inner,
.el-button,
.v-note-wrapper,
.el-input-group__append,
.el-tag
{
  border-radius: 0 !important;
}

.el-menu-item {
  background-color: black !important;
}

.v-note-wrapper {
  border: 1px solid #DCDFE6 !important;
}

